<!-- main-area -->
<main class="main-area fix">
  <!-- banner-area -->
  <section class="slider-area">
    <div class="slider__active">
      <div class="slider__item d-flex" data-background="assets/img/banner/banner_bg02.jpg">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-8">
              <div class="slider__content">
                <strong>  <span style="color: white" class="" data-animation-in="slideInLeft" data-delay-in=".2"
                                          data-duration-in="1.5">Seja bem vindo(a) a Global Educacional
                  </span></strong>
                <h2 style="color: white" class="title tg-svg" data-animation-in="slideInLeft" data-delay-in=".4"
                                           data-duration-in="1.5">A Educação transforma Você.
                  <span style="color: #089DBF"class="title tg-svg" data-animation-in="slideInLeft" data-delay-in=".4"
                                           data-duration-in="1.5">Você transforma o mundo!</span>
                </h2>
                <div class="tg-button-wrap" data-animation-in="slideInLeft" data-delay-in=".8" data-duration-in="1.5">
                  <a href="courses.html" class="btn tg-svg"><span class="text"><i class="mdi mdi-cast-education"></i> Conheça os nossos cursos</span>
                    <span class="svg-icon" id="slider-btn01" data-svg-icon="assets/img/icons/btn-arrow.svg"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner-area-end -->
  <!-- fact-area -->
  <section class="fact-area position-relative section-pt-120 section-pb-90">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
          <div class="fact__item text-center" style="background-color: #F6F8FC;">
            <div class="fact__content">
              <h3 class="count"><span class="odometer" data-count="12"></span>K+</h3>
              <p>Experience Tutors</p>
            </div>
            <div class="fact__img">
              <img src="assets/img/others/fact_img01.png" alt="img">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="fact__item text-center" style="background-color: #FCF6F6;">
            <div class="fact__content">
              <h3 class="count"><span class="odometer" data-count="15"></span>M+</h3>
              <p>Enrolled Students</p>
            </div>
            <div class="fact__img">
              <img src="assets/img/others/fact_img02.png" alt="img">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="fact__item text-center" style="background-color: #EAF8ED;">
            <div class="fact__content">
              <h3 class="count"><span class="odometer" data-count="10"></span>K+</h3>
              <p>Qualified Courses</p>
            </div>
            <div class="fact__img">
              <img src="assets/img/others/fact_img03.png" alt="img">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fact__shapes">
      <div class="categories__shapes-item rotateme">
        <img src="assets/img/objects/categories_shape01.png" alt="shape">
      </div>
    </div>
  </section>
  <!-- fact-area-end -->
  <!-- about-us -->
  <div class="area-bg" data-background="assets/img/bg/area_bg.jpg">
    <section class="testimonial-area position-relative section-pt-100 section-pb-57">
      <div class="container">
        <div class="testimonial__wrapper">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-8">
              <div class="section__title text-center">
                <span class="sub-title">Sobre nós</span>
                <h2 class="title tg-svg">Educação
                  <span class="position-relative">
                    <span class="svg-icon" id="testimonial-svg" data-svg-icon="assets/img/icons/title_shape.svg"></span>de Qualidade<br>
                  </span><br>
                  Nunca foi tão Global
                </h2>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-11">
              <div class="testimonial-active">
                <div class="testimonial__item">
                  <div class="testimonial__quote">
                    <img src="assets/img/icons/quote02.png" alt="icon">
                  </div>
                  <div class="testimonial__rating">
                    <i style="color: #1363DF"class="fa fa-clipboard-check fa-4x"></i>
                  </div>
                  <h4 class="name">Nossa missão</h4>
                  <p>
                    Formação Integral de pessoas oferecendo educação de excelência, preparando profissionais de forma a
                    atenderem às necessidades e expectativas do mercado de trabalho e da sociedade, com competência para formular,
                    sistematizar e socializar conhecimentos em suas áreas de atuação, fundamentos em preceitos éticos, morais,
                    científicos e humanísticos, comprometidos com a justiça social e o desenvolvimento sustentável.
                  </p>
                </div>
                <div class="testimonial__item">
                  <div class="testimonial__quote">
                    <img src="assets/img/icons/quote02.png" alt="icon">
                  </div>
                  <div class="testimonial__rating">
                    <i style="color: #1363DF"class="fa fa-eye fa-4x"></i>
                  </div>
                  <h4 class="name">Visão</h4>
                  <p>
                    Ser referência no mercado de trabalho onde está inserida, por ser uma Instituição comprometida em desenvolver
                    pessoas de forma integral, bem como profissionais preparados para atender as demandas do mercado de trabalho.
                  </p>
                </div>
                <div class="testimonial__item">
                  <div class="testimonial__quote">
                    <img src="assets/img/icons/quote02.png" alt="icon">
                  </div>
                  <div class="testimonial__rating">
                    <i style="color: #1363DF"class="fa fa-graduation-cap fa-4x"></i>
                  </div>
                  <h4 class="name">Valores</h4>
                  <p>
                    - Educação de qualidade e acessível;<br>
                    - Ética;<br>
                    - Respeito às diversidades;<br>
                    - Compromisso com o Ambiental, Social e Governança;
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial__avatars">
            <img src="assets/img/favicon.png" alt="img" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/img/favicon.png" alt="img" data-aos="zoom-in" data-aos-delay="300">
            <img src="assets/img/favicon.png" alt="img" data-aos="zoom-in" data-aos-delay="400">
            <img src="assets/img/favicon.png" alt="img" data-aos="zoom-in" data-aos-delay="500">
            <img src="assets/img/favicon.png" alt="img" data-aos="zoom-in" data-aos-delay="600">
            <img src="assets/img/favicon.png" alt="img" data-aos="zoom-in" data-aos-delay="700">
          </div>
        </div>
      </div>
    </section>
    <!-- testimonial-area-end -->
    <!-- brand-area -->
    <div class="brand-area-two">
      <div class="container">
        <div class="row brand-active">
          <div class="col">
            <div class="brand__item">
              <a href="#"><img src="assets/img/logo/logo.png" alt="brand"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- brand-area-end -->
  </div>
  <!-- about-us-end -->
  <!-- blog-area -->
  <section class="blog-area-two section-pt-120 section-pb-90">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-7 col-md-8">
          <div class="section__title text-center mb-50">
            <span class="sub-title">Always Smart To Hear News</span>
            <h2 class="title tg-svg">Latest <span class="position-relative"><span class="svg-icon" id="svg-10" data-svg-icon="assets/img/icons/title_shape.svg"></span>News</span> & Blog</h2>
            <p class="desc">Receive huge benefits with our lifetime Plumbing Receive huge benefits with our lifetime Plumbing email address will be shown</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="blog__post-item-two shine__animate-item">
            <div class="blog__post-thumb-two">
              <a href="blog-details.html" class="shine__animate-link">
                <img src="assets/img/blog/blog_thumb04.jpg" alt="img">
              </a>
            </div>
            <div class="blog__post-content-two">
              <a href="#" class="cat">Education</a>
              <h4 class="title"><a href="blog-details.html">when aeunkno printer took galley of scrambled</a></h4>
              <ul class="list-wrap blog__post-meta">
                <li><i class="flaticon-account"></i> by <a href="#">Admin</a></li>
                <li><i class="flaticon-calendar-date"></i> 23 Aug, 2023</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="blog__post-item-three shine__animate-item">
            <div class="blog__post-thumb-three">
              <a href="blog-details.html" class="shine__animate-link">
                <img src="assets/img/blog/blog_thumb05.jpg" alt="img">
              </a>
            </div>
            <div class="blog__post-content-three">
              <a href="#" class="cat">Course</a>
              <h4 class="title"><a href="blog-details.html">When aeunkno printer get galley crambled</a></h4>
              <ul class="list-wrap blog__post-meta">
                <li><i class="flaticon-account"></i> by <a href="#">Admin</a></li>
                <li><i class="flaticon-calendar-date"></i> 23 Aug, 2023</li>
              </ul>
            </div>
          </div>
          <div class="blog__post-item-three shine__animate-item">
            <div class="blog__post-thumb-three">
              <a href="blog-details.html" class="shine__animate-link">
                <img src="assets/img/blog/blog_thumb06.jpg" alt="img">
              </a>
            </div>
            <div class="blog__post-content-three">
              <a href="#" class="cat">Skill Development</a>
              <h4 class="title"><a href="blog-details.html">Bhen aeunkno printer galley aewcram.</a></h4>
              <ul class="list-wrap blog__post-meta">
                <li><i class="flaticon-account"></i> by <a href="#">Admin</a></li>
                <li><i class="flaticon-calendar-date"></i> 23 Aug, 2023</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img class="object" src="assets/img/objects/blog_shape03.png" width="76" style="left: 8%; top: 32%;" alt="Object">
    <img class="object rotateme" src="assets/img/objects/blog_shape04.png" width="66" style="right: 9%; bottom: 23%;" alt="Object">
  </section>
  <!-- blog-area-end -->
  <!-- cta-area -->
  <section class="cta-area-three">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="cta__wrapper">
            <div class="section__title white-title">
              <h2 class="title tg-svg">Join us & <span class="position-relative"><span class="svg-icon" id="svg-9" data-svg-icon="assets/img/icons/title_shape.svg"></span>Spread</span> Experiences</h2>
            </div>
            <div class="cta__desc">
              <p>Borem ipsum dolor sit amet, consectetur adipiscing eliawe awUt elit ellus, luctus nec ullamcorper mattisBorem</p>
            </div>
            <div class="tg-button-wrap justify-content-center justify-content-md-end">
              <a href="contact.html" class="btn white-btn tg-svg"><span class="text">Become an Instructor</span> <span class="svg-icon" id="cta-btn" data-svg-icon="assets/img/icons/btn-arrow.svg"></span></a>
            </div>
            <img class="object" src="assets/img/objects/cta_shape01.svg" style="left: 25px; top: -35px;" alt="Object" data-aos="fade-down" data-aos-delay="400">
            <img class="object" src="assets/img/objects/cta_shape02.svg" style="right: -20px; bottom: -80px;" alt="Object" data-aos="fade-up" data-aos-delay="400">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- cta-area-end -->
</main>
<!-- main-area-end -->
