
  <main class="main-area fix">
    <!-- banner-area -->
    <section class="slider-area">
      <div class="slider__active">
        <div class="slider__item d-flex" data-background="assets/img/banner/banner_bg02.jpg">
          <div class="container">
            <div class="row">
              <div class="col-xl-8 col-lg-8">
                <div class="slider__content">
                  <strong>  <span style="color: white" class="" data-animation-in="slideInLeft" data-delay-in=".2"
                                          data-duration-in="1.5">Seja bem vindo(a) a Global Educacional
                    </span></strong>
                  <h2 style="color: white" class="title tg-svg" data-animation-in="slideInLeft" data-delay-in=".4"
                                           data-duration-in="1.5">A Educação transforma Você.
                    <span style="color: #089DBF"class="title tg-svg" data-animation-in="slideInLeft" data-delay-in=".4"
                                           data-duration-in="1.5">Você transforma o mundo!</span>
                  </h2>
                  <div class="tg-button-wrap" data-animation-in="slideInLeft" data-delay-in=".8" data-duration-in="1.5">
                    <a href="courses.html" class="btn tg-svg"><span class="text"><i class="mdi mdi-cast-education"></i> Conheça os nossos cursos</span>
                      <span class="svg-icon" id="slider-btn01" data-svg-icon="assets/img/icons/btn-arrow.svg"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- slider-area-end -->
    <div class="area-bg" data-background="assets/img/bg/area_bg.jpg">
      <!-- testimonial-area -->
      <section class="testimonial-area position-relative section-pt-100 section-pb-57">
        <div class="container">
          <div class="testimonial__wrapper">
            <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-7 col-md-8">
                <div class="section__title text-center">
                  <span class="sub-title">Sobre nós</span>
                  <h2 class="title tg-svg">Educação
                    <span class="position-relative">
                      <span class="svg-icon" id="testimonial-svg" data-svg-icon="assets/img/icons/title_shape.svg"></span>de Qualidade<br>
                    </span><br>
                    Nunca foi tão Global
                  </h2>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-xl-9 col-lg-11">
                <div class="testimonial-active">
                  <div class="testimonial__item">
                    <div class="testimonial__quote">
                      <img src="assets/img/icons/quote02.png" alt="icon">
                    </div>
                    <div class="testimonial__rating">
                      <i style="color: #1363DF"class="fa fa-clipboard-check fa-4x"></i>
                    </div>
                    <h4 class="name">Nossa missão</h4>
                    <p>
                      Formação Integral de pessoas oferecendo educação de excelência, preparando profissionais de forma a
                      atenderem às necessidades e expectativas do mercado de trabalho e da sociedade, com competência para formular,
                      sistematizar e socializar conhecimentos em suas áreas de atuação, fundamentos em preceitos éticos, morais,
                      científicos e humanísticos, comprometidos com a justiça social e o desenvolvimento sustentável.
                    </p>
                  </div>
                  <div class="testimonial__item">
                    <div class="testimonial__quote">
                      <img src="assets/img/icons/quote02.png" alt="icon">
                    </div>
                    <div class="testimonial__rating">
                      <i style="color: #1363DF"class="fa fa-eye fa-4x"></i>
                    </div>
                    <h4 class="name">Visão</h4>
                    <p>
                      Ser referência no mercado de trabalho onde está inserida, por ser uma Instituição comprometida em desenvolver
                      pessoas de forma integral, bem como profissionais preparados para atender as demandas do mercado de trabalho.
                    </p>
                  </div>
                  <div class="testimonial__item">
                    <div class="testimonial__quote">
                      <img src="assets/img/icons/quote02.png" alt="icon">
                    </div>
                    <div class="testimonial__rating">
                      <i style="color: #1363DF"class="fa fa-graduation-cap fa-4x"></i>
                    </div>
                    <h4 class="name">Valores</h4>
                    <p>
                      - Educação de qualidade e acessível;<br>
                      - Ética;<br>
                      - Respeito às diversidades;<br>
                      - Compromisso com o Ambiental, Social e Governança;
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="testimonial__avatars">
              <img src="assets/img/favicon.png" alt="img" data-aos="zoom-in" data-aos-delay="200">
              <img src="assets/img/favicon.png" alt="img" data-aos="zoom-in" data-aos-delay="300">
              <img src="assets/img/favicon.png" alt="img" data-aos="zoom-in" data-aos-delay="400">
              <img src="assets/img/favicon.png" alt="img" data-aos="zoom-in" data-aos-delay="500">
              <img src="assets/img/favicon.png" alt="img" data-aos="zoom-in" data-aos-delay="600">
              <img src="assets/img/favicon.png" alt="img" data-aos="zoom-in" data-aos-delay="700">
            </div>
          </div>
        </div>
      </section>
      <!-- testimonial-area-end -->
      <!-- brand-area -->
      <div class="brand-area-two">
        <div class="container">
          <div class="row brand-active">
            <div class="col">
              <div class="brand__item">
                <a href="#"><img src="assets/img/logo/logo.png" alt="brand"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- brand-area-end -->
    </div>
    <!-- categories-area -->
    <section class="categories-area pt-40 section-pb-90">
      <div class="container">
        <div class="row align-items-center justify-content-center mb-55">
          <div class="col-md-12">
            <div class="categories__title-wrap text-center text-lg-start m-0">
              <div class="section__title mb-0">
                <h2 class="title tg-svg">Conheça os nossos 
                  <span class="position-relative"><span class="svg-icon" id="svg-5" data-svg-icon="assets/img/icons/title_shape.svg"></span>Cursos</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3">
          <div class="col-md-6">
            <div class="categories__item-two tg-svg">
              <a href="courses.html">
                <div class="icon">
                  <span class="svg-icon" id="cat_svg3" data-svg-icon="assets/img/icons/categories_icon.svg"></span>
                  <i class="flaticon-bars"></i>
                </div>
                <div class="info">
                  <span class="name">Ciências Contábeis</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="categories__item-two tg-svg">
              <a href="courses.html">
                <div class="icon">
                  <span class="svg-icon" id="cat_svg1" data-svg-icon="assets/img/icons/categories_icon.svg"></span>
                  <i class="flaticon-graduates"></i>
                </div>
                <div class="info">
                  <span class="name">Pedagogia</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="categories__item-two tg-svg">
              <a href="courses.html">
                <div class="icon">
                  <span class="svg-icon" id="cat_svg2" data-svg-icon="assets/img/icons/categories_icon.svg"></span>
                  <i class="flaticon-account"></i>
                </div>
                <div class="info">
                  <span class="name">Administração</span>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="categories__item-two tg-svg">
              <a href="courses.html">
                <div class="icon">
                  <span class="svg-icon" id="cat_svg4" data-svg-icon="assets/img/icons/categories_icon.svg"></span>
                  <i class="flaticon-group"></i>
                </div>
                <div class="info">
                  <span class="name">Gestão pública</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- categories-area-end -->
    <!-- cta-area -->
    <section class="cta-area-three">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="cta__wrapper">
              <div class="section__title white-title">
                <h2 class="title tg-svg">A Educação pronta para você<span class="position-relative"></h2>
                </div>
                <div class="cta__desc">
                  <p>A Missão da Global Educacional é buscar a formação integral oferencendo uma educação de excelência.</p>
                </div>
                <img class="object" src="assets/img/objects/cta_shape01.svg" style="left: 25px; top: -35px;" alt="Object" data-aos="fade-down" data-aos-delay="400">
                <img class="object" src="assets/img/objects/cta_shape02.svg" style="right: -20px; bottom: -80px;" alt="Object" data-aos="fade-up" data-aos-delay="400">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- cta-area-end -->
    </main>
    <!-- main-area-end -->

