<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Global Educacional</title>
    <%= wicked_pdf_stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' %>
    <style>
      @page {
        size: A4;
        margin: 0mm;
      }
      body {
        background-color: #fff;
        font-size: 10pt;
        -webkit-print-color-adjust: exact;
      }
      .etiqueta {
        width: 63.5mm;
        height: 31mm;
        margin-bottom: 9mm; /* Espaçamento vertical entre as filas */
      }
      .col-md-4 {
        padding-left: 1.75mm; /* Ajuste a margem interna conforme necessário */
        padding-right: 1.75mm; /* Ajuste a margem interna conforme necessário */
      }
      /* Sobrescrever as margens do Bootstrap para que a última coluna de cada linha não tenha espaço extra à direita */
      .row .col-md-4:last-child {
        padding-right: 0;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <% @users.each_with_index do |user, index| %>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <!-- Conteúdo da etiqueta aqui, por exemplo: -->
                Nome: <%= user.name %><br>
                ID: <%= user.id %>
              </div>
            </div>
          </div>
          <% if (index + 1) % 3 == 0 && index + 1 != @users.size %>
          </div>
          <div class="row">
          <% end %>
        <% end %>
      </div>
    </div>
  </body>
</html>
