<!-- main-area -->
<main class="main-area fix">
  <!-- banner-area -->
  <section class="slider-area">
    <section class="pt-40 section-pb-90">
      <div class="container">
        <div class="row text-center">
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <div class="w-75 mx-auto">
              <i class="fa fa-user"></i>
              <h4 class="mt-2 mb-1">100% Presencial</h4>
              <p class="card-text">Curso totalmente presencial, com interação direta e dinâmica entre alunos e professores.</p>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <div class="w-75 mx-auto">
              <i class="fa fa-clock"></i>
              <h4 class="mt-2 mb-1">Duração: 16 horas-aula</h4>
              <p class="card-text">Curso intensivo com carga horária de 16 horas-aula, distribuídas para otimizar o aprendizado.</p>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <div class="w-75 mx-auto">
              <i class="fa fa-dollar-sign"></i>
              <h4 class="mt-2 mb-1">Investimento: R$ 2.500,00</h4>
              <p class="card-text">Diferentes formas de pagamento que cabem no seu bolso</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-40 section-pb-90" style="background: #f6f7fb;">
      <div class="container">
        <div class="col 12 mb-4">
          <div class="section__title text-center">
            <span class="sub-title">Apresentação</span>
            <h2 class="title tg-svg">Se você busca um novo passo na prática com excelência na sua carreira, na Gestão dos municípios, este é o seu momento!</h2>
            <br>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col 12 text-justify">
              <div class="courses__details-wrapper">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Objetivo geral</button>
                  </li>
                </ul>
                <div class="tab-content text-justify" id="myTabContent">
                  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="courses__details-content">
                      <p>
                        Esta formação tem como objetivo desenvolver profissionais como Agentes de Contratação para atuar como parceiros estratégicos das áreas de negócios e pública, que se dará a partir do profundo conhecimento dos objetivos das respectivas áreas e na tradução destes objetivos na estratégia de contratação pela Lei de Licitações.
                        Oferecer aos agentes públicos e gestores compreensão das boas práticas de licitações, bem como trabalhar mecanismos, ferramentas e técnicas que possam agregar valor as organizações. A boa e regular estruturação dos controles de licitações reduzirá significativamente o cometimento de erros, bem como auxiliará o ente público a atingir a legislação, jurisprudência e eficiência administrativa.
                      </p>
                    </div>
                  </div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Metodologia</button>
                  </li>
                </ul>
                <div class="tab-content text-justify" id="myTabContent">
                  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="courses__details-content">
                      <p>
                        Expositiva teórica com participação ativa dos envolvidos, através de recursos dinâmicos e atividades práticas.
                      </p>
                    </div>
                  </div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Público Alvo</button>
                  </li>
                </ul>
                <div class="tab-content text-justify" id="myTabContent">
                  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="courses__details-content">
                      <p>
                        Curso destinado a pregoeiros e agentes públicos de contratação em geral, bem como profissionais da área de licitações, contadores, 
                        administradores e gestores públicos que necessitam aprimorar suas técnicas e seus conhecimentos para melhoria da gestão pública com 
                        foco na qualidade do serviço ofertado ao cidadão.
                      </p>
                    </div>
                  </div>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Facilitador</button>
                  </li>
                </ul>
                <div class="tab-content text-justify" id="myTabContent">
                  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="courses__details-content">
                      <p>
                        <strong>Francisco Netto</strong> é Autor, palestrante e professor de direito constitucional além de:
                      </p>
                      <ul class="list-wrap">
                        <li><i class="fas fa-check-circle text-primary"></i> Palestrante de gestão de alcance profissional e acadêmico</li>
                        <li><i class="fas fa-check-circle text-primary"></i> Autor pela editora Juspodivm</li>
                        <li><i class="fas fa-check-circle text-primary"></i> Ex-membro suplente do Conselho de Transparência Pública e Combate à Corrupção do Governo Federal - CTPPC</li>
                        <li><i class="fas fa-check-circle text-primary"></i> Ex-Vice Presidente do Conselho Nacional de Controle Interno – CONACI</li>
                        <li><i class="fas fa-check-circle text-primary"></i> Ex-Controlador Geral do Estado de Rondônia – CGE-RO (2016-2023)</li>
                        <li><i class="fas fa-check-circle text-primary"></i> Auditor fiscal da Secretaria de Estado de Finanças do Estado de Rondônia SEFIN-RO – desde 2010</li>
                        <li><i class="fas fa-check-circle text-primary"></i> Ex-assessor do Ministério Público de Contas – MPC/TCE-RO</li>
                        <li><i class="fas fa-check-circle text-primary"></i> Ex-auditor de controle externo do Tribunal de Contas do Estado de Rondônia – TCE/RO (2008/2010)</li>
                        <li><i class="fas fa-check-circle text-primary"></i> Mestre em Administração pela Universidade Federal de Rondônia - UNIR</li>
                        <li><i class="fas fa-check-circle text-primary"></i> Graduado em Matemática e em Economia pela Universidade Federal de Rondônia – UNIR</li>
                        <li><i class="fas fa-check-circle text-primary"></i> Coordenador do Grupo de Padronização de Normas Internacionais de Auditoria Interna do CONACI/Banco Mundial (2017/2019)</li>
                        <li><i class="fas fa-check-circle text-primary"></i> Coordenador de trabalhos técnicos como a elaboração do Manual de Transparência de Unidades de Conservação Florestal (CONACI/Transparência Internacional) e Manual de Transparência de Obras de Infraestrutura</li>
                        <li><i class="fas fa-check-circle text-primary"></i> Experiência em grupos de trabalho no Brasil e no exterior, como a ENCCLA – Estratégia Nacional de Combate à Corrupção e Lavagem de Dinheiro (junto ao Ministério da Justiça) Ação nº 5/2019 e Ação nº 2/2019, e na rede PEMPAL</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <br>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Pautas de formação</button>
                  </li>
                </ul>
                <div class="tab-content text-justify" id="myTabContent">
                  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="courses__details-content">
                      <div class="courses__details-inner">
                        <strong>Parte 1 - </strong>
                        <strong>Duração: 4h</strong>
                        <ul class="list-wrap">
                          <li>
                            <i class="fas fa-check-circle text-primary"></i>
                            Visão Sistêmica da Nova Lei de Licitações
                          </li>
                        </ul>
                      </div>
                      <div class="courses__details-inner">
                        <strong>Parte 2 - </strong>
                        <strong>Duração: 8h -</strong>
                        <strong>FASE PREPARATÓRIA E ETP</strong>
                        <br>
                        <ul class="list-wrap">
                          <li><i class="fas fa-check-circle text-primary"></i> Identificação e justificativa da necessidade</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Planejamento da licitação</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Escolha entre Aquisição ou Locação</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Justificativa da contratação</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Pesquisa de preços</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Valor estimado x Valor máximo</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Melhor Preço x Menor Preço</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Custo x Benefício</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Sobrepreço, preços manifestamente inexequíveis e superfaturamento</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Reserva orçamentária</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Aprovação do Ordenador de Despesa</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Designação do Agente Público e/ou Comissão</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Publicação da designação</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Elaboração das peças editalícias</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Preparação de Termo de Referência</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Estudo Técnico Preliminar</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Análise de Riscos</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Criação de ANS – Acordo de Nível de Serviço</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Parecer jurídico</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Aprovação da autoridade competente</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Micro Empresa e Empresa de Pequeno Porte</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Licitações exclusivas às ME ou EPP</li>
                        </ul>
                      </div>
                      <div class="courses__details-inner">
                        <strong>Parte 3 - </strong>
                        <strong>Duração: 2h - </strong>
                        <strong>AGENTES DE CONTRATAÇÃO E PREGOEIRO</strong>
                        <ul class="list-wrap">
                          <li><i class="fas fa-check-circle text-primary"></i> Gestão por competência</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Cautelas na designação</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Vedações</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Pregoeiro, Agente de Contratação e Comissão de Contratação</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Equipe de Apoio</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Segregação de Funções e atuação na etapa de planejamento</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Responsabilização por erro grosseiro</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Auxílio da assessoria jurídica</li>
                        </ul>
                      </div>
                      <div class="courses__details-inner">
                        <strong>Parte 4 - </strong>
                        <strong>Duração: 2h - </strong>
                        <strong>NOÇÕES DE IMPLANTAÇÃO DA NOVA LEI DE LICITAÇÔES</strong>
                        <ul class="list-wrap">
                          <li><i class="fas fa-check-circle text-primary"></i> Aspectos delicados e urgentes para o início da implementação</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Aspectos básicos para se elaborar o plano de ação e implementar a nova lei</li>
                          <li><i class="fas fa-check-circle text-primary"></i> Estudo de Caso</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="categories-area pt-40 section-pb-90">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center mb-55">
        <div class="col-md-12">
          <div class="categories__title-wrap text-center text-lg-start m-0">
            <div class="section__title text-center">
              <span class="sub-title">Local do Evento</span>
            </div>
            <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Oscar%20Hotel%20Executive+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps tracker sport</a></iframe></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- courses-end -->
<!-- cta-area -->
<section class="cta-area-three">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cta__wrapper">
          <div class="section__title white-title">
            <h2 class="title tg-svg">A Educação pronta para você<span class="position-relative"></h2>
            </div>
            <div class="cta__desc">
              <p>A Missão da Global Educacional é buscar a formação integral oferencendo uma educação de excelência.</p>
            </div>
            <img class="object" src="../../assets/img/objects/cta_shape01.svg" style="left: 25px; top: -35px;" alt="Object" data-aos="fade-down" data-aos-delay="400">
            <img class="object" src="../../assets/img/objects/cta_shape02.svg" style="right: -20px; bottom: -80px;" alt="Object" data-aos="fade-up" data-aos-delay="400">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
