 <!-- breadcrumb-area -->
<section class="courses__breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="courses__breadcrumb-content">
          <h3 class="title">Ciência Contábeis</h3>
          <p>O curso de Ciências Contábeis prepara você para gerenciar finanças e tomar decisões estratégicas baseadas em dados financeiros.</p>
          <ul class="courses__item-meta list-wrap">
            <li><i class="flaticon-file"></i> 8 Módulos</li>
            <li><i class="flaticon-timer"></i> 3100h</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb-area-end -->
<section class="courses-details-area section-pb-120">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8">
        <div class="courses__details-wrapper">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Objetivo geral</button>
            </li>
          </ul>
          <div class="tab-content text-justify" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
              <div class="courses__details-content">
                <p>
                  Desenvolver competências e conhecimentos sólidos em contabilidade no que diz respeito a questões sociais e técnicas, capacitando os alunos a compreenderem a aplicação aos princípios 
                  contábeis em ambientes profissionais, local e regional, contribuindo para o desenvolvimento de profissionais qualificados em caráter tecnológico e inovador na área contábil.
                </p>
                <div class="courses__details-inner">
                  <h3 class="title">Objetivos específicos</h3>
                  <ul class="list-wrap">
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Elaborar e interpretar demonstrativos financeiros, como o balanço patrimonial e a demonstração do resultado do exercício (DRE), observando a legislação e normas contábeis e 
                      aplicar as normas brasileiras de contabilidade (NBCs) em contextos práticos;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Utilizar a contabilidade gerencial para tomada de decisões estratégicas nas organizações, analisando custos, margens de lucro e rentabilidade para orientar a gestão financeira;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Realizar auditorias internas e externas, identificando potenciais irregularidades financeiras, adotando procedimentos éticos e profissionais em auditorias;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Dominar o uso de software de contabilidade, como planilhas eletrônicas e sistemas de gestão financeira, automatizando tarefas contábeis rotineiras para aumentar a eficiência;
                    </li>
                  </ul>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 1</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Comunicação e Linguagem</li>
                      <li><i class="fas fa-check-circle"></i>Educação a Distância</li>
                      <li><i class="fas fa-check-circle"></i>Filosofia</li>
                      <li><i class="fas fa-check-circle"></i>Introdução à Contabilidade</li>
                      <li><i class="fas fa-check-circle"></i>Introdução à Informática</li>
                      <li><i class="fas fa-check-circle"></i>Matemática</li>
                      <li><i class="fas fa-check-circle"></i>Teoria Geral da Administração</li>
                    </ul>
                  </div>
                  <div class="courses__details-inner">
                    <h3 class="title">Módulo 2</h3>
                    <div class="event-details-list">
                      <ul class="list-wrap">
                        <li><i class="fas fa-check-circle"></i>Direito Público e Direito Privado</li>
                        <li><i class="fas fa-check-circle"></i>Contabilidade Intermediária</li>
                        <li><i class="fas fa-check-circle"></i>Estatística</li>
                        <li><i class="fas fa-check-circle"></i>Extensão I</li>
                        <li><i class="fas fa-check-circle"></i>Introdução à Economia</li>
                        <li><i class="fas fa-check-circle"></i>Matemática Financeira</li>
                      </ul>
                    </div>
                  </div>
                  <div class="courses__details-inner">
                    <h3 class="title">Módulo 3</h3>
                    <div class="event-details-list">
                      <ul class="list-wrap">
                        <li><i class="fas fa-check-circle"></i>Ciência Aduaneira</li>
                        <li><i class="fas fa-check-circle"></i>Empreendedorismo</li>
                        <li><i class="fas fa-check-circle"></i>Contabilidade de Custos</li>
                        <li><i class="fas fa-check-circle"></i>Teoria da Contabilidade</li>
                        <li><i class="fas fa-check-circle"></i>Metodologia Científica</li>
                        <li><i class="fas fa-check-circle"></i>Estrutura das Demonstrações Contábeis</li>
                        <li><i class="fas fa-check-circle"></i>Extensão II</li>
                      </ul>
                    </div>
                  </div>
                  <div class="courses__details-inner">
                    <h3 class="title">Módulo 4</h3>
                    <div class="event-details-list">
                      <ul class="list-wrap">
                        <li><i class="fas fa-check-circle"></i>Contabilidade Aplicada no Terceiro Setor</li>
                        <li><i class="fas fa-check-circle"></i>Ética, Cultura, Diversidade e Direitos Humanos</li>
                        <li><i class="fas fa-check-circle"></i>Administração Financeira e Orçamentária I</li>
                        <li><i class="fas fa-check-circle"></i>Direito Trabalhista e Previdenciário</li>
                        <li><i class="fas fa-check-circle"></i>Extensão III</li>
                        <li><i class="fas fa-check-circle"></i>Direito Tributário</li>
                        <li><i class="fas fa-check-circle"></i>Sistemas de Informações Gerenciais</li>
                      </ul>
                    </div>
                  </div>
                  <div class="courses__details-inner">
                    <h3 class="title">Módulo 5</h3>
                    <div class="event-details-list">
                      <ul class="list-wrap">
                        <li><i class="fas fa-check-circle"></i>Administração Financeira e Orçamentária II</li>
                        <li><i class="fas fa-check-circle"></i>Gestão de Recursos Humanos</li>
                        <li><i class="fas fa-check-circle"></i>Gestão Ambiental</li>
                        <li><i class="fas fa-check-circle"></i>Contabilidade Tributária</li>
                        <li><i class="fas fa-check-circle"></i>Contabilidade Pública</li>
                        <li><i class="fas fa-check-circle"></i>Contabilidade Societária</li>
                        <li><i class="fas fa-check-circle"></i>Extensão IV</li>
                      </ul>
                    </div>
                  </div>
                  <div class="courses__details-inner">
                    <h3 class="title">Módulo 6</h3>
                    <div class="event-details-list">
                      <ul class="list-wrap">
                        <li><i class="fas fa-check-circle"></i>Orçamento Empresarial</li>
                        <li><i class="fas fa-check-circle"></i>Extensão V</li>
                        <li><i class="fas fa-check-circle"></i>Laboratório de Práticas em Contabilidade</li>
                        <li><i class="fas fa-check-circle"></i>Contabilidade Gerencial</li>
                        <li><i class="fas fa-check-circle"></i>Optativa</li>
                        <li><i class="fas fa-check-circle"></i>Estágio Supervisionado I</li>
                      </ul>
                    </div>
                  </div>
                  <div class="courses__details-inner">
                    <h3 class="title">Módulo 7</h3>
                    <div class="event-details-list">
                      <ul class="list-wrap">
                        <li><i class="fas fa-check-circle"></i>Contabilidade Internacional</li>
                        <li><i class="fas fa-check-circle"></i>Contabilidade Rural</li>
                        <li><i class="fas fa-check-circle"></i>Contabilidade Ambiental</li>
                        <li><i class="fas fa-check-circle"></i>Contabilidade Avançada</li>
                        <li><i class="fas fa-check-circle"></i>Estágio Supervisionado II</li>
                      </ul>
                    </div>
                  </div>
                  <div class="courses__details-inner">
                    <h3 class="title">Módulo 8</h3>
                    <div class="event-details-list">
                      <ul class="list-wrap">
                        <li><i class="fas fa-check-circle"></i>Auditoria Contábil</li>
                        <li><i class="fas fa-check-circle"></i>Controladoria</li>
                        <li><i class="fas fa-check-circle"></i>Ética e Legislação Profissional em Contabilidade</li>
                        <li><i class="fas fa-check-circle"></i>Mercado Financeiro de Capitais</li>
                        <li><i class="fas fa-check-circle"></i>Perícia, Avaliação e Arbitragem</li>
                        <li><i class="fas fa-check-circle"></i>Atividades Complementares</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
