 <!-- breadcrumb-area -->
<section class="courses__breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="courses__breadcrumb-content">
          <h3 class="title">Curso de Administração</h3>
          <p>O curso de Administração oferece ferramentas essenciais para liderar e gerir empresas com eficiência em um mercado competitivo.</p>
          <ul class="courses__item-meta list-wrap">
            <li><i class="flaticon-file"></i> 8 Módulos</li>
            <li><i class="flaticon-timer"></i> 3100h</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb-area-end -->
<section class="courses-details-area section-pb-120">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8">
        <div class="courses__details-wrapper">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Objetivo Geral</button>
            </li>
          </ul>
          <div class="tab-content text-justify" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
              <div class="courses__details-content">
                <p>
                  Formar bacharéis em Administração, com competências, habilidades e atitudes indispensáveis ao exercício profissional, capazes
                  de administrar empresas de pequeno a grande porte, em diversos setores da economia, seja local, regional e internacional, de 
                  forma ética, empreendedora e com responsabilidade social, econômica e ambiental.
                </p>
                <div class="courses__details-inner">
                  <h3 class="title">Objetivos específicos</h3>
                  <ul class="list-wrap">
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Desenvolver competências e habilidades para o profissional formado atuar com desenvoltura em ambientes globalizados, 
                      caracterizados pela incerteza, imprevisibilidade e instabilidade, como as novas mudanças tecnológicas requerem;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Despertar junto aos alunos o espírito empreendedor para atuar como um agente de transformação e de inovação, assim como 
                      para a consolidação de novos empreendimentos;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Preparar alunos comprometidos com princípios éticos, humanísticos e com responsabilidade social, economia e ambiental;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Preparar profissionais capazes de diagnosticar problemas de gestão e apresentar soluções criativas, inovadoras e eficientes;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Formar profissionais empreendedores, que saibam aplicar e tornar tangíveis as ideias e estejam aptos a implementá-las, contribuindo,
                      dessa forma, para o crescimento da competitividade das organizações e o desenvolvimento de novos empreendimentos;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Promover o hábito (aprender a aprender) de formação continuada.
                    </li>
                  </ul>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 1</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Comunicação e Linguagem</li>
                      <li><i class="fas fa-check-circle"></i>Educação a Distância</li>
                      <li><i class="fas fa-check-circle"></i>Filosofia</li>
                      <li><i class="fas fa-check-circle"></i>Introdução à Contabilidade</li>
                      <li><i class="fas fa-check-circle"></i>Introdução a Informática</li>
                      <li><i class="fas fa-check-circle"></i>Matemática</li>
                      <li><i class="fas fa-check-circle"></i>Teoria Geral da Administração I</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 2</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Administração de Marketing I</li>
                      <li><i class="fas fa-check-circle"></i>Extensão I</li>
                      <li><i class="fas fa-check-circle"></i>Introdução à Economia</li>
                      <li><i class="fas fa-check-circle"></i>Matemática Financeira</li>
                      <li><i class="fas fa-check-circle"></i>Metodologia Científica</li>
                      <li><i class="fas fa-check-circle"></i>Teoria Geral da Administração II</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 3</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Administração de Marketing II</li>
                      <li><i class="fas fa-check-circle"></i>Análise e Demonstrações Financeiras e Contábeis</li>
                      <li><i class="fas fa-check-circle"></i>Direito Público e Direito Privado</li>
                      <li><i class="fas fa-check-circle"></i>Economia Brasileira</li>
                      <li><i class="fas fa-check-circle"></i>Estatística</li>
                      <li><i class="fas fa-check-circle"></i>Extensão II</li>
                      <li><i class="fas fa-check-circle"></i>Psicologia Organizacional e do Trabalho</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 4</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Administração Financeira e Orçamentária I</li>
                      <li><i class="fas fa-check-circle"></i>Criação e Desenvolvimento de Empresas</li>
                      <li><i class="fas fa-check-circle"></i>Direito Trabalhista e Previdenciário</li>
                      <li><i class="fas fa-check-circle"></i>Ética, Cultura e Diversidade e Direitos Humanos</li>
                      <li><i class="fas fa-check-circle"></i>Extensão III</li>
                      <li><i class="fas fa-check-circle"></i>Gestão de Custos</li>
                      <li><i class="fas fa-check-circle"></i>Gestão de Pessoas</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 5</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Administração de Recursos Materiais e Patrimoniais I</li>
                      <li><i class="fas fa-check-circle"></i>Administração Financeira e Orçamentária II</li>
                      <li><i class="fas fa-check-circle"></i>Extensão IV</li>
                      <li><i class="fas fa-check-circle"></i>Gerência e Elaboração de Projetos</li>
                      <li><i class="fas fa-check-circle"></i>Gestão de Pessoas II</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 6</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Administração e Orçamento Público</li>
                      <li><i class="fas fa-check-circle"></i>Administração de Recursos Materiais e Patrimoniais II</li>
                      <li><i class="fas fa-check-circle"></i>Extensão V</li>
                      <li><i class="fas fa-check-circle"></i>Optativa</li>
                      <li><i class="fas fa-check-circle"></i>Estágio Supervisionado I</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 7</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Administração da Produção I</li>
                      <li><i class="fas fa-check-circle"></i>Administração de Agronegócios</li>
                      <li><i class="fas fa-check-circle"></i>Administração de Sistemas de Informação</li>
                      <li><i class="fas fa-check-circle"></i>Direito Empresarial</li>
                      <li><i class="fas fa-check-circle"></i>Gestão em Serviços</li>
                      <li><i class="fas fa-check-circle"></i>Gestão da Qualidade e Produtividade</li>
                      <li><i class="fas fa-check-circle"></i>Estágio Supervisionado II</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 8</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Administração da Produção II</li>
                      <li><i class="fas fa-check-circle"></i>Comércio Exterior</li>
                      <li><i class="fas fa-check-circle"></i>Gestão Ambiental</li>
                      <li><i class="fas fa-check-circle"></i>Planejamento Estratégico</li>
                      <li><i class="fas fa-check-circle"></i>Atividades Complementares</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
