 <!-- breadcrumb-area -->
<section class="courses__breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="courses__breadcrumb-content">
          <h3 class="title">Pedagogia</h3>
          <p>O curso de Pedagogia prepara educadores para criar ambientes de aprendizagem eficazes e inclusivos, abrangendo desde teorias educacionais até práticas pedagógicas.</p>
          <ul class="courses__item-meta list-wrap">
            <li><i class="flaticon-file"></i> 8 Módulos</li>
            <li><i class="flaticon-timer"></i> 3400h</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb-area-end -->
<section class="courses-details-area section-pb-120">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8">
        <div class="courses__details-wrapper">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Objetivo Geral</button>
            </li>
          </ul>
          <div class="tab-content text-justify" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
              <div class="courses__details-content">
                <p>
                  Formar pedagogos para atuação e emancipação da sua prática, que compreendam o
                  processo educativo escolar em suas múltiplas correlações: pedagógicas, históricas, sociais,
                  econômicas, políticas e culturais, de forma a contribuir no desenvolvimento local e regional. 
                </p>
                <div class="courses__details-inner">
                  <h3 class="title">Objetivos específicos</h3>
                  <ul class="list-wrap">
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Compreender a natureza das relações e inter-relações sociais, econômicas, políticas e
                      culturais na constituição da realidade da educação escolar brasileira e regional, bem
                      como a importância do processo da escolarização na formação do cidadão brasileiro;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Saber os fundamentos das teorias do conhecimento que sustentam as propostas
                      metodológicas do processo ensino-aprendizagem;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Entender o processo de desenvolvimento de crianças, jovens e adultos na construção de
                      suas relações com o mundo e com os outros, bem como seu desenvolvimento cognitivo,
                      afetivo e criativo;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Dominar os conteúdos fundamentais as diferentes ciências que integram o currículo dos
                      Anos Iniciais;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Desenvolver, no âmbito de um projeto pedagógico, a capacidade de organização
                      curricular para subsidiar, de forma integrada e contextualizada, a criança, jovens e
                      adultos em seus processos de construção dos conceitos básicos no campo da Linguagem,
                      da Matemática e das Ciências Sociais e Naturais.
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Reconhecer a ação educativa como prática social de intervenção e transformação;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Conhecer a dimensão pedagógica da ação educativa com seus três elementos – o
                      conhecimento; o ensino; a aprendizagem;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Interpretar os aspectos políticos, pedagógicos e epistemológicos como constitutivos do
                      planejamento e do exercício da ação educativa formal e não formal;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Entender o processo da educação inclusiva em sentido amplo, mantendo atitude de
                      respeito à diversidade;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Apreender conceitos e as funções das diferentes modalidades de avaliação do ensino,
                      da aprendizagem, do currículo e das instituições de ensino;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Notar a escola em suas dimensões política, pedagógica e administrativa como
                      instituição responsável pela transmissão cultural do conhecimento acumulado ao longo
                      das gerações, e pela revisão crítica que promove o avanço ético, estético, moral e
                      científico desse patrimônio;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Assimilar a importância da gestão no planejamento, acompanhamento e avaliação de
                      projetos em instituições escolares e não-escolares
                    </li>
                  </ul>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 1</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Comunicação e Linguagem</li>
                      <li><i class="fas fa-check-circle"></i>Filosofia</li>
                      <li><i class="fas fa-check-circle"></i>Matemática</li>
                      <li><i class="fas fa-check-circle"></i>Introdução a Informática</li>
                      <li><i class="fas fa-check-circle"></i>História da educação I</li>
                      <li><i class="fas fa-check-circle"></i>Psicologia do Desenvolvimento Humano</li>
                      <li><i class="fas fa-check-circle"></i>Educação a distância</li>
                      <li><i class="fas fa-check-circle"></i>BNCC e Seus Fundamentos e Educação Infantil</li>
                      <li><i class="fas fa-check-circle"></i>Práticas como Componente Curricular I – História da Pedagogia</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 2</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Metodologia Científica</li>
                      <li><i class="fas fa-check-circle"></i>Produção Textual</li>
                      <li><i class="fas fa-check-circle"></i>História da Educação II</li>
                      <li><i class="fas fa-check-circle"></i>Filosofia da Educação</li>
                      <li><i class="fas fa-check-circle"></i>Psicologia da Educação</li>
                      <li><i class="fas fa-check-circle"></i>Educação e Tecnologia</li>
                      <li><i class="fas fa-check-circle"></i>BNCC: Ensino Fundamental – Anos Iniciais e Anos Finais e Ensino Médio</li>
                      <li><i class="fas fa-check-circle"></i>BNCC nas Etapas e Modalidades da Educação Básica e Suas Articulações</li>
                      <li><i class="fas fa-check-circle"></i>Prática como Componente Curricular II – História da Cultura Africana, Afro- Brasileira e Étnico Racial</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 3</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Sociologia</li>
                      <li><i class="fas fa-check-circle"></i>Metodologias e Fundamentos da Educação Infantil</li>
                      <li><i class="fas fa-check-circle"></i>Educação Ambiental</li>
                      <li><i class="fas fa-check-circle"></i>Psicologia Escolar e Dificuldades de Aprendizagem</li>
                      <li><i class="fas fa-check-circle"></i>Metodologias e Fundamentos em Jogos e Recreação</li>
                      <li><i class="fas fa-check-circle"></i>Avaliação Educacional</li>
                      <li><i class="fas fa-check-circle"></i>BNCC e formação de professores da Educação Básica</li>
                      <li><i class="fas fa-check-circle"></i>Prática como Componente Curricular III – Educação não-formal</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 4</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Ética Profissional, Legislação, Cidadania e Meio Ambiente</li>
                      <li><i class="fas fa-check-circle"></i>Didática I</li>
                      <li><i class="fas fa-check-circle"></i>Estrutura de Funcionamento do Ensino Básico</li>
                      <li><i class="fas fa-check-circle"></i>Educação das Populações Tradicionais da Amazônia Legal</li>
                      <li><i class="fas fa-check-circle"></i>Literatura Infanto-Juvenil</li>
                      <li><i class="fas fa-check-circle"></i>Teorias e Práticas de Currículo</li>
                      <li><i class="fas fa-check-circle"></i>BNCC: Projeto de Articulação do Currículo na Escola</li>
                      <li><i class="fas fa-check-circle"></i>Prática como Componente Curricular IV – Temas Transversais</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 5</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Alfabetização e Letramento I</li>
                      <li><i class="fas fa-check-circle"></i>Organização e Gestão Escolar</li>
                      <li><i class="fas fa-check-circle"></i>Metodologias e Fundamentos do Ensino de História</li>
                      <li><i class="fas fa-check-circle"></i>Didática II</li>
                      <li><i class="fas fa-check-circle"></i>Política Pública Educacionais</li>
                      <li><i class="fas fa-check-circle"></i>Estágio Supervisionado I</li>
                      <li><i class="fas fa-check-circle"></i>Prática como Componente Curricular V – Gênero e Educação</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 6</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Metodologias e Fundamentos do Ensino da Arte</li>
                      <li><i class="fas fa-check-circle"></i>Metodologias e Fundamentos do Ensino de Matemática</li>
                      <li><i class="fas fa-check-circle"></i>Metodologias e Fundamentos do Ensino das Ciências Naturais</li>
                      <li><i class="fas fa-check-circle"></i>Alfabetização e Letramento II</li>
                      <li><i class="fas fa-check-circle"></i>Estágio Supervisionado II</li>
                      <li><i class="fas fa-check-circle"></i>Prática como Componente Curricular VI – Filosofia da Religião</li>
                      <li><i class="fas fa-check-circle"></i>Optativa I</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 7</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Educação Especial</li>
                      <li><i class="fas fa-check-circle"></i>Língua Brasileira de Sinais – LIBRAS</li>
                      <li><i class="fas fa-check-circle"></i>Metodologias e Fundamentos do Ensino de Língua Portuguesa</li>
                      <li><i class="fas fa-check-circle"></i>Metodologias e Fundamentos do Ensino de Geografia</li>
                      <li><i class="fas fa-check-circle"></i>Currículos e Programas</li>
                      <li><i class="fas fa-check-circle"></i>Trabalho de Curso I</li>
                      <li><i class="fas fa-check-circle"></i>Estágio Supervisionado II</li>
                      <li><i class="fas fa-check-circle"></i>Práticas como Componente Curricular VII – Direitos Humanos</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 8</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>EXTENSÃO VI: Orientação e prática de projetos na infância</li>
                      <li><i class="fas fa-check-circle"></i>Educação de jovens e Adultos</li>
                      <li><i class="fas fa-check-circle"></i>Atividades Complementares</li>
                      <li><i class="fas fa-check-circle"></i>Estágio Supervisionado IV</li>
                      <li><i class="fas fa-check-circle"></i>Trabalho de Curso II</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
