 <!-- breadcrumb-area -->
<section class="courses__breadcrumb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="courses__breadcrumb-content">
          <h3 class="title">Gestão Pública</h3>
          <p>O curso de Gestão Pública forma profissionais capacitados para otimizar recursos e processos em instituições governamentais, promovendo eficiência e impacto social.</p>
          <ul class="courses__item-meta list-wrap">
            <li><i class="flaticon-file"></i> 5 Módulos</li>
            <li><i class="flaticon-timer"></i> 2000h</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb-area-end -->
<section class="courses-details-area section-pb-120">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-8">
        <div class="courses__details-wrapper">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Objetivo geral</button>
            </li>
          </ul>
          <div class="tab-content text-justify" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
              <div class="courses__details-content">
                <p>
                  Formar profissionais aptos para atuar de forma efetiva, transparente e participativa na gestão pública,
                  no âmbito federal, estatual e municipal, administrando e assessorando com competência as organizações governamentais
                  e não governamentais, com planejamento, proatividade, inovação e ética. 
                </p>
                <div class="courses__details-inner">
                  <h3 class="title">Objetivos específicos</h3>
                  <ul class="list-wrap">
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Planejar, implementar, avaliar projetos e programas de políticas públicas voltados para o desenvolvimento local e regional;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Formar profissionais com as competências e as habilidades indispensáveis ao exercício profissional voltado ao Estado, ao Governo, 
                      à Administração Pública e as Políticas Públicas; 
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Elevar os padrões de eficiência, eficácia e efetividade da gestão pública, com vistas a promover um serviço de qualidade e 
                      que atenda às demandas da sociedade;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Proporcionar uma visão sistêmica e integrada da gestão pública;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Fomentar o desenvolvimento do senso crítico dos participantes em relação à análise do contexto político, econômico, social, 
                      cultural e tecnológico inerente ao cotidiano do setor público;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Aplicar metodologias inovadoras de gestão, baseadas nos princípios da administração pública, legislação vigente, tecnologias gerenciais, 
                      aspectos ambientais e ética profissional;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Avaliar e emitir parecer técnico em sua área de formação;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Propiciar ferramentas para planejamento, elaboração, execução, monitoramento e avaliação da gestão pública;
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Desenvolver princípios éticos, sociais, democráticos, proativos em prol do desenvolvimento nacional e social; 
                    </li>
                    <li>
                      <i class="fas fa-check-circle text-primary"></i>
                      Formar profissionais com as competências e as habilidades indispensáveis ao exercício profissional voltado ao Estado, ao Governo, 
                      à Administração Pública e as Políticas Públicas.
                    </li>
                  </ul>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 1</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Comunicação e Linguagem</li>
                      <li><i class="fas fa-check-circle"></i>Filosofia</li>
                      <li><i class="fas fa-check-circle"></i>Introdução à Administração</li>
                      <li><i class="fas fa-check-circle"></i>Introdução à Contabilidade</li>
                      <li><i class="fas fa-check-circle"></i>Introdução ao Direito</li>
                      <li><i class="fas fa-check-circle"></i>Introdução à Educação a Distância</li>
                      <li><i class="fas fa-check-circle"></i>Matemática</li>
                      <li><i class="fas fa-check-circle"></i>Políticas Públicas e Sociais</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 2</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Administração Pública</li>
                      <li><i class="fas fa-check-circle"></i>Direito Constitucional Aplicado ao Setor Público</li>
                      <li><i class="fas fa-check-circle"></i>Extensão I</li>
                      <li><i class="fas fa-check-circle"></i>Introdução à Economia</li>
                      <li><i class="fas fa-check-circle"></i>Metodologia Científica</li>
                      <li><i class="fas fa-check-circle"></i>Planejamento e Orçamento Público</li>
                      <li><i class="fas fa-check-circle"></i>Planejamento Estratégico na Gestão Pública</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 3</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Administração de Material e Patrimônio</li>
                      <li><i class="fas fa-check-circle"></i>Contabilidade e Economia no Setor Publico</li>
                      <li><i class="fas fa-check-circle"></i>Extensão II</li>
                      <li><i class="fas fa-check-circle"></i>Gestão de Pessoas na Administração Pública</li>
                      <li><i class="fas fa-check-circle"></i>Gestão de Processos: Sistemas, Processos e Gestão de Conflitos</li>
                      <li><i class="fas fa-check-circle"></i>Gestão de Projetos voltados ao Setor Público</li>
                      <li><i class="fas fa-check-circle"></i>Avaliação de Políticas Públicas</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 4</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Administração Financeira e Orçamentária</li>
                      <li><i class="fas fa-check-circle"></i>Direito Administrativo e Licitações</li>
                      <li><i class="fas fa-check-circle"></i>Extensão III</li>
                      <li><i class="fas fa-check-circle"></i>Gestão de Contratos e Controle na Administração Pública</li>
                      <li><i class="fas fa-check-circle"></i>Pesquisa Aplicada à Gestão Pública</li>
                      <li><i class="fas fa-check-circle"></i>Contratações Públicas</li>
                      <li><i class="fas fa-check-circle"></i>Habilidades Profissionais em Gestão Pública</li>
                    </ul>
                  </div>
                </div>
                <div class="courses__details-inner">
                  <h3 class="title">Módulo 5</h3>
                  <div class="event-details-list">
                    <ul class="list-wrap">
                      <li><i class="fas fa-check-circle"></i>Auditoria e Controladoria</li>
                      <li><i class="fas fa-check-circle"></i>Ética, Cultura e Diversidade e Direitos Humanos</li>
                      <li><i class="fas fa-check-circle"></i>Extensão IV</li>
                      <li><i class="fas fa-check-circle"></i>Gestão Ambiental</li>
                      <li><i class="fas fa-check-circle"></i>Gestão da Informação no Setor Público</li>
                      <li><i class="fas fa-check-circle"></i>Gestão de Marketing no Setor Público</li>
                      <li><i class="fas fa-check-circle"></i>Logística Aplicada ao Setor Público</li>
                      <li><i class="fas fa-check-circle"></i>Optativa</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
