<div class="container">
  <h4 class="mb-4"><i class="ti ti-ticket"></i> Eventos em aberto</h4>
  <div class="row">
    <% @events.order(:name).each do |event| %>
      <div class="col-4">
        <%= link_to portal_subscription_events_path(event_id: event.id), data: { turbo: false }, class: 'text-decoration-none' do %>
          <div class="card border-0 zoom-in bg-primary-subtle shadow-none">
            <div class="card-body">
              <div class="text-center">
                <i class="icon ti ti-ticket fs-9"></i>
                <p class="fw-semibold fs-3 text-primary mb-4"><%= event.name %></p>
                <h5 class="fw-semibold text-primary mb-0"><%= SubscriptionEvent.where(event: event).count %></h5>
                <p class="fw-semibold fs-3 text-primary mb-1">Participantes inscritos</p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
