<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Global Educacional">
    <meta property="og:description" content="A Missão da Global Educacional é buscar a formação integral oferencendo uma educação de excelência.">
    <meta property="og:image" content="https://globaleducacional.com.br/assets/img/logo/logo.png">
    <meta property="og:url" content="https://globaleducacional.com.br">
    <meta property="og:type" content="website">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Global Educacional</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" href="/admin/assets/css/styles.css" />
    <link rel="stylesheet" href="/admin/assets/libs/owl.carousel/dist/assets/owl.carousel.min.css" />
  </head>
  <body data-sidebartype="mini-sidebar">
    <%= yield %>
    <div class="dark-transparent sidebartoggler"></div>
    <script src="/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/libs/simplebar/dist/simplebar.min.js"></script>
    <script src="/admin/assets/js/theme/app.init.js"></script>
    <script src="/admin/assets/js/theme/theme.js"></script>
    <script src="/admin/assets/js/theme/app.min.js"></script>
    <script src="/admin/assets/js/theme/sidebarmenu.js"></script>
    <script src="/admin/assets/libs/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/admin/assets/js/dashboards/dashboard.js"></script>
  </body>
</html>